{
    "Deployment": "tiny",
    "DiskProvisioning": "flat",
    "IPProtocol": "IPv4",
    "PropertyMapping": [
        {
            "Key": "guestinfo.cis.deployment.node.type",
            "value": "embedded"
        },
        {
            "Key": "guestinfo.cis.appliance.net.addr.family",
            "Value": "ipv4"
        },
        {
            "Key": "guestinfo.cis.appliance.net.mode",
            "Value": "static"
        },
        {
            "Key": "guestinfo.cis.appliance.net.pnid",
            "Value": "{{ vcenter_hostname }}"
        },
        {
            "Key": "guestinfo.cis.appliance.net.addr",
            "Value": "{{ vcenter_address }}"
        },
        {
            "Key": "guestinfo.cis.appliance.net.prefix",
            "Value": "16"
        },
        {
            "Key": "guestinfo.cis.appliance.net.gateway",
            "Value": "172.17.0.1"
        },
        {
            "Key": "guestinfo.cis.appliance.net.dns.servers",
            "Value": "172.17.0.1"
        },
        {
            "Key": "guestinfo.cis.appliance.root.passwd",
            "Value": "{{ vcenter_root_password }}"
        },
        {
            "Key": "guestinfo.cis.appliance.root.shell",
            "Value": "/bin/bash"
        },
        {
            "Key": "guestinfo.cis.appliance.ssh.enabled",
            "Value": "True"
        },
        {
            "Key": "guestinfo.cis.deployment.autoconfig",
            "Value": "True"
        },
        {
            "Key": "guestinfo.cis.appliance.ntp.servers",
            "Value": "172.17.0.1"
        },
        {
            "Key": "guestinfo.cis.vmdir.password",
            "Value": "{{ vcenter_root_password }}"
        },
        {
            "Key": "guestinfo.cis.vmdir.site-name",
            "Value": "lab"
        },
        {
            "Key": "guestinfo.cis.vmdir.domain-name",
            "Value": "lab.acceleratedgcp.com"
        },
        {
            "Key": "guestinfo.cis.ceip_enabled",
            "Value": "False"
        }
    ],
    "NetworkMapping": [
        {
            "Name": "Network 1",
            "Network": "vmgmt"
        }
    ],
    "Annotation": "VMware vCenter Server Appliance",
    "MarkAsTemplate": false,
    "PowerOn": false,
    "InjectOvfEnv": true,
    "WaitForIP": false,
    "Name": "vcenter"
}
