# Configure vlan {{ item.key }}
{{ ansible_managed | comment }}
network:
  version: 2
  vlans:
    {{ networking_link_device }}.{{ item.key }}:
      dhcp4: no
      dhcp6: no
      id: {{ item.key }}
      link: {{ networking_link_device }}
      {{ item.value | to_nice_yaml | indent(6) }}
