# Configure vlan {{ vlan }}
{{ ansible_managed | comment }}
network:
  version: 2
  vlans:
    {{ device }}.{{ vlan }}:
      addresses:
        {{ addresses | default([]) | to_nice_yaml | indent(8) }}
      routes:
{% for address in addresses %}
        - to: {{ address | ansible.utils.ipaddr('host/prefix') | ansible.utils.ipaddr('0') }}
          via: {{ address | ansible.utils.ipaddr('1') | ansible.utils.ipaddr('address') }}
{% endfor %}
{% for route in routes %}
        - to: {{ route['route'] }}
          via: {{ route['gw'] }}
{% endfor %}
