# Terraform
.terraform
terraform.tfstate*
terraform.tfvars
*.auto.tfvars
terraform.config
.terraform.lock.hcl

# Ignore envrc and asdf
.envrc
.direnv
.tool-versions

# Ignore all json files; these *may* be a credential
*.json
# Except in .vscode
!.vscode/*.json

# Ignore root CA files
ca/*
!ca/ca-config.json
!ca/ca-csr.json

# Ignore generated certificates and supporting files
certs/*
!certs/Makefile

# Ignore kubeconfigs
kubeconfig*
!ansible/templates/kubernetes/kubeconfig.memes.j2
