# Terraform
.terraform
terraform.tfstate*
terraform.tfvars
*.auto.tfvars
terraform.config
.terraform.lock.hcl

# Ignore envrc and asdf
.envrc
.direnv
.tool-versions

# Ignore all json files; these *may* be a credential
*.json

# Ignore root CA files
ca/*
!ca/ca-config.json
!ca/ca-csr.json

# Ignore generated certificates and supporting files
certs/*
!certs/Makefile

# Ignore kubeconfigs
kubeconfig*
!ansible/templates/kubernetes/kubeconfig.user.j2

# Ignore VS Code files, except settings.json
.vscode
!.vscode/settings.json

# Ignore any pytest caches
.pytest_cache
__pycache__
