# Additional python packages for hacking on the solution
ansible-lint==24.9.0
black==24.8.0
isort==5.13.2
molecule==24.9.0
molecule-plugins==23.5.3
pre-commit==3.8.0
pylint==3.2.7
pytest==8.3.3
pytest-cov==5.0.0
pytest-testinfra==10.1.1
-r requirements.txt
