# lab-config required packages
# see also ansible/requirements.yml for Ansible galaxy packages
# Also need vsan-sdk-python for VMWare playbooks; download and unpack somewhere
# and add to PYTHONPATH via .envrc.
pre-commit==2.20.0
ansible==7.1.0
ansible-lint==6.12.1
pyghmi==1.5.55
hvac==1.0.2
jmespath==1.0.1
kubernetes==25.3.0
pyvmomi==8.0.0.1.1
passlib==1.7.4
netaddr==0.8.0
git+https://github.com/vmware/vsphere-automation-sdk-python.git ; python_version >= '2.7'  # Python 2.6 is not supported
