# lab-config required packages
# see also ansible/requirements.yml for Ansible galaxy packages
ansible==7.1.0
pyghmi==1.5.55
hvac==1.0.2
jmespath==1.0.1
kubernetes==25.3.0
passlib==1.7.4
netaddr==0.8.0
