# Configure Calico BGP for lab
{{ ansible_managed | comment }}
---
apiVersion: projectcalico.org/v3
kind: BGPConfiguration
metadata:
  name: default
spec:
  logSeverityScreen: Info
  nodeToNodeMeshEnabled: false
  asNumber: 64513
  listenPort: 179
  serviceClusterIPs:
    - cidr: {{ kubernetes_service_cidr | default('10.1.0.0/22') }}
  serviceExternalIPs:
    - cidr: {{ kubernetes_external_cidr | default('10.2.0.0/24') }}
  serviceLoadBalancerIPs:
    - cidr: {{ kubernetes_lb_cidr | default('10.3.0.0/24') }}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: repair-ipv4-peer
spec:
  peerIP: 172.17.0.1
  asNumber: 64512
---
apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  name: default
spec:
    cidr: {{ kubernetes_pod_cidr | default('10.0.0.0/17') }}
    blocksize: 24
    ipipMode: Never
    vxlanMode: Never
    natOutgoing: false
    nodeSelector: all()
