kind: ConfigMap
apiVersion: v1
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
      errors
      health {
        lameduck 5s
      }
      ready
      kubernetes {{ kubernetes_dns_domain | default('cluster.local') }} in-addr.arpa ip6.arpa {
        pods insecure
        fallthrough in-addr.arpa ip6.arpa
        ttl 30
      }
      prometheus :9153
      forward . 172.17.0.1 {
        max_concurrent 1000
      }
      cache 30
      loop
      reload
      loadbalance
    }
