# CentOS options for PXE installation
{{ ansible_managed | comment }}

label centos8s
  menu label Install CentOS ^Stream 8
  kernel ::boot/centos-stream-8-x86_64/vmlinuz
  append initrd=::boot/centos-stream-8-x86_64/initrd.img ip=dhcp inst.resolution=1024x768 nomodeset inst.repo={{ default_shared_http_url }}/software/centos-stream-8-x86_64 inst.dd={{ default_shared_http_url }}/isos/dd-megaraid_sas-07.717.02.00-1.el8_5.elrepo.iso
  text help
  Install CentOS Stream 8 in VESA mode
  endtext

label centos8sr
  menu label CentOS Stream 8 - ^Rescue
  kernel ::boot/centos-stream-8-x86_64/vmlinuz
  append initrd=::boot/centos-stream-8-x86_64/initrd.img ip=dhcp inst.rescue=true inst.resolution=1024x768 nomodeset inst.repo={{ default_shared_http_url }}/software/centos-stream-8-x86_64 inst.dd={{ default_shared_http_url }}/isos/dd-megaraid_sas-07.717.02.00-1.el8_5.elrepo.iso
  text help
  Launch CentOS Stream 8 in Rescue mode
  endtext

label centos85
  menu label Install CentOS 8.^5
  kernel ::boot/centos8.5.2111-x86_64/vmlinuz
  append initrd=::boot/centos8.5.2111-x86_64/initrd.img ip=dhcp inst.resolution=1024x768 nomodeset inst.repo={{ default_shared_http_url }}/software/centos8.5.2111-x86_64 inst.dd={{ default_shared_http_url }}/isos/dd-megaraid_sas-07.717.02.00-1.el8_5.elrepo.iso
  text help
  Install CentOS 8.5 in VESA mode
  endtext

label centos83
  menu label Install CentOS 8.^3
  kernel ::boot/centos8.3.2011-x86_64/vmlinuz
  append initrd=::boot/centos8.3.2011-x86_64/initrd.img ip=dhcp inst.resolution=1024x768 nomodeset inst.repo={{ default_shared_http_url }}/software/centos8.3.2011-x86_64 inst.dd={{ default_shared_http_url }}/isos/dd-megaraid_sas-07.714.04.00-1.el8_3.elrepo.iso
  text help
  Install CentOS 8.3 in VESA mode
  endtext

label centos82
  menu label Install CentOS 8.^2
  kernel ::boot/centos8.2.2004-x86_64/vmlinuz
  append initrd=::boot/centos8.2.2004-x86_64/initrd.img ip=dhcp inst.resolution=1024x768 nomodeset inst.repo={{ default_shared_http_url }}/software/centos8.2.2004-x86_64 inst.dd={{ default_shared_http_url }}/isos/dd-megaraid_sas-07.710.50.00-1.el8_2.elrepo.iso
  text help
  Install CentOS 8.2 in VESA mode
  endtext
