# Configure an HTTP/HTTPS server for shared content
{{ ansible_managed | comment }}

server {
        listen 80 default_server;
        listen [::]:80 default_server;
        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;
        ssl_certificate /etc/ssl/certs/{{ shared_tls_cert_pem | basename }};
        ssl_certificate_key /etc/ssl/private/{{ shared_tls_key_pem | basename}};

        server_name _;
        root /srv/shared;
        location / {
                autoindex on;
                try_files $uri $uri/ uri.http =404;
        }
}
