# Generic PXE boot menu
{{ ansible_managed | comment }}
include pxelinux.cfg/common.cfg
timeout 3000
totaltimeout 6000
ontimeout localboot
menu title Accelerated GCP Lab PXE Options

label localboot
  menu label ^Boot local disk
  localboot 0xffff

menu separator

menu begin centos
  menu label ^CentOS installers
  menu title CentOS installers
  label back
    menu label ^Back
    menu default
    menu exit
  menu separator
  include pxelinux.cfg/centos.cfg
menu end

menu begin debian
  menu label ^Debian installers
  menu title Debian installers
  label back
    menu label ^Back
    menu default
    menu exit
  menu separator
  include pxelinux.cfg/debian.cfg
menu end

{% if bios | default(False) %}
# ESXi option will chain-load an ESXi specific PXE environment and configuration
# files. See the folder ../esxi/pxelinux.cfg for details.
label esxi
  menu label Chainload ^ESXi installers
  com32 ::bios/pxechn.c32
  append ::esxi/pxelinux.0 -c ::esxi/pxelinux.cfg/default
  text help
  Load VMware ESXi installation and upgrade menu.
  NOTE: this will chainload an older syslinux/pxelinux without Back option.
  endtext
{% endif %}

menu begin redhat
  menu label ^RedHat installers
  menu title RedHat installers
  label back
    menu label ^Back
    menu default
    menu exit
  menu separator
  include pxelinux.cfg/redhat.cfg
menu end

menu begin ubuntu
  menu label ^Ubuntu installers
  menu title Ubuntu installers
  label back
    menu label ^Back
    menu default
    menu exit
  menu separator
  include pxelinux.cfg/ubuntu.cfg
menu end

menu separator

include pxelinux.cfg/kali.cfg

menu begin tools
  menu label ^Tools
  menu title Tools
  label back
    menu label ^Back
    menu default
    menu exit
  menu separator
  include pxelinux.cfg/tools.cfg
menu end
