# This configuration is intended to be symlinked to the machine specific MAC
# files (see autoprovision_macs variable). The intent is to automatically boot
# and install one of the options listed below after a small delay.
{{ ansible_managed | comment }}
include pxelinux.cfg/common.cfg

# NOTE: Default selection is handled by lab_default_target.cfg, which itself is
# managed by the repave.yml playbook.
include pxelinux.cfg/lab_default_target.cfg

timeout 300
totaltimeout 600

# NOTE: Default selection is handled by lab_default_target.cfg, which itself is
# managed by the repave.yml playbook.

menu title PXE autoprovision options

label centos85
  menu label Autoprovision ^CentOS 8.5
  kernel ::boot/centos8.5.2111-x86_64/vmlinuz
  append initrd=::boot/centos8.5.2111-x86_64/initrd.img vlan=eno1.10:eno1 ip=eno1.10:dhcp inst.text nomodeset inst.repo={{ lab_shared_http_url }}/software/centos8.5.2111-x86_64 inst.dd={{ lab_shared_http_url }}/isos/dd-megaraid_sas-07.717.02.00-1.el8_5.elrepo.iso inst.ks={{ lab_shared_http_url }}/el8/centos8-minimal.ks
  text help
  Install CentOS 8.5 with minimal kickstart for Lab
  endtext

label rhel85
  menu label Autoprovision ^RHEL 8.5
  kernel ::boot/rhel8.5-x86_64/vmlinuz
  append initrd=::boot/rhel8.5-x86_64/initrd.img vlan=eno1.10:eno1 ip=eno1.10:dhcp inst.text nomodeset inst.repo={{ lab_shared_http_url }}/software/rhel8.5-x86_64 inst.dd={{ lab_shared_http_url }}/isos/dd-megaraid_sas-07.717.02.00-1.el8_5.elrepo.iso inst.ks={{ lab_shared_http_url }}/el8/rhel8-minimal.ks
  text help
  Install RHEL 8.5 with minimal kickstart for Lab
  endtext

label ubuntu2004
  menu label Autoprovision ^Ubuntu Server 20.04 LTS
  kernel ::boot/ubuntu20.04-LTS-x86_64/vmlinuz
  append initrd=::boot/ubuntu20.04-LTS-x86_64/initrd vga=788 root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url={{ default_shared_http_url }}/isos/ubuntu-20.04.4-live-server-amd64.iso autoinstall ds=nocloud-net;s={{ default_shared_http_url }}/cloud-init/focal/
  text help
  Install Ubuntu Server 20.04 LTS with minimal cloud-init/autoprovision for lab
  endtext

label ubuntu1804
  menu label Autoprovision Ubuntu ^Server 18.04 LTS
  kernel ::boot/ubuntu18.04-LTS-netboot-x86_64/linux
  append initrd=::boot/ubuntu18.04-LTS-netboot-x86_64/initrd.gz auto url={{ lab_shared_host }} locale=en_US.UTF-8 console-setup/ask_detect=false console-setup/layoutcode=us keyboard-configuration/layoutcode=us netcfg/get_hostname=unknown netcfg/get_domain={{ lab_domain }} interface=eno1 netcfg/dhcp_timeout=60 netcfg/use_vlan=true netcfg/vlan_id=10
  text help
  Install Ubuntu Server 18.04 LTS with minimal preseed for lab
  endtext

menu separator

label localboot
  menu label ^Boot local disk
  localboot 0xffff

# Since the physical servers will pick-up this configuration through MAC matching,
# give an option for interactive selection of full PXE menu that unrecognised
# instances get.
label full
  menu label ^Full PXE boot options
  kernel vesamenu.c32
  APPEND pxelinux.cfg/default
