# VMware Photon OS PXE options available on this server
{{ ansible_managed | comment }}

label photon3
  menu label ^Install Photon OS 3
  kernel images/photon3.0-a383732-x86_64/vmlinuz
  append initrd=images/photon3.0-a383732-x86_64/initrd.img root=/dev/ram0 loglevel=3 photon.media=cdrom repo={{ shared_http_url }}/software/photon3.0-a383732-x86_64/RPMS
  text help
  Install Photon OS 3
  endtext

label live3
  menu label ^Live Photon OS 3
  kernel images/photon3.0-a383732-x86_64/vmlinuz
  append initrd=images/photon3.0-a383732-x86_64/initrd.img root=/dev/ram0 loglevel=3 repo={{ shared_http_url }}/software/photon3.0-a383732-x86_64/RPMS
  text help
  Boot Photon OS 3 Live
  endtext
